@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-satoshi: 'Satoshi', sans-serif;
}

body {
  font-family: var(--font-satoshi);
}

@layer utilities {
  .pattern-grid-lg {
    background-image: linear-gradient(#cbd5e1 1px, transparent 1px), linear-gradient(90deg, #cbd5e1 1px, transparent 1px);
    background-size: 20px 20px;
  }
}
